@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Poppins&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 400px;
  margin: auto;
  height: 4910px;
  position: relative;
  background: #fff;
}

.geomtry2 {
  position: absolute;
  width: 100%;
  height: 160px;
  left: 0;
  top: 472px;
}

.menu {
  top: 19px;
  right: 10px;
  width: 20px;
  height: 14px;
  position: absolute;
}

.title {
  position: absolute;
  width: 220px;
  height: 100px;
  left: 16px;
  top: 104px;
  font-family: 'Playfair Display', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 100%;
  color: #1a2236;
}

.paragraph {
  position: absolute;
  width: 300px;
  height: 126px;
  left: 16px;
  top: 224px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.1rem;
  line-height: 21px;
  letter-spacing: -0.01em;
  color: #1a2236;
}

.bttn {
  width: 288px;
  height: 50px;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
  font-style: normal;
  position: absolute;
  box-sizing: border-box;
  inset: 390px auto 0 45px;
  background-color: #1a2236;
  font-family: 'Poppins', serif;
}

.bttn:hover {
  cursor: pointer;
  color: #1a2236;
  background-color: #fff;
  border: 1px solid #1a2236;
}

.bttn:active {
  cursor: pointer;
  color: #1a2236;
  background-color: #fff;
  border: 2px solid #1a2236;
}

.spacer {
  width: 100%;
  height: 200px;
  inset: 450px 0 0 0;
}

.pHeader {
  top: 672px;
  left: 16px;
  width: 181px;
  height: 50px;
  font-size: 50px;
  color: #1a2236;
  font-weight: 400;
  line-height: 100%;
  position: absolute;
  font-style: normal;
  font-family: 'Playfair Display', serif;
}

.pList {
  left: 0;
  top: 754px;
  width: 320px;
  display: grid;
  position: absolute;
  grid-template-columns: 1fr;
}

.p {
  gap: 0.5rem;
  width: 320px;
  height: 342px;
  display: flex;
  background: #1a2236;
  flex-direction: column;
}

.tags {
  display: flex;
  gap: 0.2rem;
}

.tag {
  font-family: 'Poppins', serif;
  font-style: normal;
  font-weight: 300;
  font-size: 10.3334px;
  line-height: 80%;
  color: #1a2236;
  padding: 1rem;
  background: #98DEDE;
}

h3 {
  width: 264px;
  height: 16px;
  font-family: 'Poppins', serif;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 80%;
  color: #fff;
}

.see {
  width: 178px;
  height: 44px;
  border: 1px solid #FFFFFF;
  position: absolute;
  background-repeat: no-repeat;
  background-image: url('./images/image_geometry_2.png');
  background-size: cover;
}
